<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zephyr.breeze">

    <uses-permission android:name="android.permission.INTERNET"/> <!-- 网络权限 -->
    <!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> &lt;!&ndash; 通知权限 &ndash;&gt;-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 读取存储权限，对于Android 13以下版本 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 写入存储权限，对于Android 13以下版本 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/> <!-- 读取媒体图片权限，Android 13及以上 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/> <!-- 读取媒体视频权限，Android 13及以上 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/> <!-- 安装APK权限 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/> <!-- 管理外部存储权限，Android 11及以上 -->

    <!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/> &lt;!&ndash; 前台服务权限 &ndash;&gt;-->


    <application
            android:label="BK comic"
            android:name="${applicationName}"
            android:icon="@mipmap/ic_launcher"
            android:enableOnBackInvokedCallback="true">
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:taskAffinity=""
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                android:hardwareAccelerated="true"
                android:requestLegacyExternalStorage="true"
                android:networkSecurityConfig="@xml/netconfig"
                android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->


            <meta-data
                    android:name="io.flutter.embedding.android.NormalTheme"
                    android:resource="@style/NormalTheme"
            />
            <!--            <meta-data-->
            <!--                    android:name="io.flutter.embedding.android.EnableImpeller"-->
            <!--                    android:value="true"/>-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--图片裁剪库需要的声明-->
        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Ucrop.CropTheme"/>

        <!-- 前台服务声明 -->
        <!--        <service-->
        <!--                android:name="com.zephyr.breeze.DownloadService"-->
        <!--                android:foregroundServiceType="dataSync"-->
        <!--                android:exported="false"/>-->

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
                android:name="flutterEmbedding"
                android:value="2"/>
        <meta-data
                android:name="io.flutter.embedding.android.EnableImpeller"
                android:value="false"/>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <!-- Optionally add another intent for http links -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
    </queries>
</manifest>
