[package]
name = "rust_lib_zephyr"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
flutter_rust_bridge = "=2.11.1"
image = { version = "0.25.6", default-features = false, features = [
    "jpeg",
    "png",
    "webp",
] }
md5 = "0.8.0"
base64 = "0.22.1"
log = "0.4.27"
anyhow = "1.0.98"
tokio = { version = "1.46.1", features = ["full"] }
tokio-tar = "0.3.1"
zip = "2.1"
zhconv = "0.3.3"
lazy_static = "1.5.0"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(frb_expand)'] }
